//setting.scss

$white:#fff;
$black:#000;
$gray:#aaa;
$color_01:#00FFF8;
$color_02:#00B1B2;
$color_03:#6B9DFF;

body{overflow-x:hidden; background:url(img.jpg) center center fixed no-repeat; position:relative;}
img{width:100%; max-width:100%;}
article
{
    width:100%; height:100%; min-height:100%; background-color:#fff;
    margin:0; padding:0; /*border-bottom:1px solid #fff;*/
}//article
article .content_wrap
{
    width:90%; min-width:90%; /*height:calc(100% - 101px);*/ margin:0 0 0 5%; background-color:#fff;
    /*width:1200px; margin:0 auto;*/
}
.content_wrap .content_title
{
    width:100%; font-size:30px; font-weight:bold; color:#0bace7; text-align:center; 
    letter-spacing:0.5px; margin:40px 0 50px 0; display:block; float:left;
}
.content_wrap .content_title .title_line {width:1px; height:30px; background:#0bace7; margin:0 auto;}

@media screen and (min-width:620px) and (max-width:740px){
    .content_wrap .content_title
    {
        width:100%; font-size:20px; font-weight:bold; color:#0bace7; text-align:center; 
        letter-spacing:0.5px; margin:40px 0 50px 0; display:block; float:left;
    }
}

@media screen and (min-width:540px) and (max-width:620px){
    .content_wrap .content_title
    {
        width:100%; font-size:20px; font-weight:bold; color:#0bace7; text-align:center; 
        letter-spacing:0.5px; margin:40px 0 50px 0; display:block; float:left;
    }
}

@media screen and (min-width:200px) and (max-width:540px){
    .content_wrap .content_title
    {
        width:100%; font-size:15px; font-weight:bold; color:#0bace7; text-align:center; 
        letter-spacing:0.5px; margin:30px 0 50px 0; display:block; float:left;
    }
}